body {
  /* box-sizing: border-box; */
  background-color: #d3d3d3;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

date {
  border: 2px solid #ff0000;
  color:white;
  padding: .5em;
  text-align: right;
  float: right;
  background-color:#ff0000;
}

.more a {
  border: 2px solid #ff0000;
  color:white;
  padding: .5em;
  text-align: right;
  background-color:#ff0000;
}



 /* button {
  background-color:#000fff;
} */

.card2 {
  height: 370px;
  width: 350px;
  background-color: white;
  /* margin-right: 285px */
  /* padding: 20px; */
  margin-left: 985px;
  /* position: relative; */
  /* left: 125%; */
}

.card2 date {
  float: left;
}


.card1 {
  height: 195px;
  width: 400px;
  background-color: white;
  padding: 20px;
  margin-top: 85px;
  margin-left: 85px;
  right: 125%;
}


.card3 {
  height: 195px;
  width: 400px;
  background-color: white;
  padding: 20px;
  margin-top: 85px;
  margin-left: 85px;
  /* position: absolute; */
  right: : 50%;
}




.verticalLine {
  padding-top: 30px;
  padding-bottom: 30px;
  /* border-left: 6px solid grey; */
  border-left: 6px solid #296088;
  height: 900px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.dot {
  height: 35px;
  width: 35px;
  background-color: #296088;
  border-radius: 50%;
  position: relative;
}




/* @media (max-width: 768px) {
  body {
    background-color: blue;
  }
} */
